

<footer>
   <div class="sc-iRbamj iijtug" id="appFooter">
        <div class="container">
            <div class="leftSection">
                <div><img src="/assets/images/logo.svg" height="40" alt="logo"></div>
                <p>Android වැඩකාරයෝ is to bring the latest tech news in the Sinhala language, and respects user
                    contributions by letting anyone to contribute and update latest news.</p>
                <div class="socialLinks">
                    <a href="https://www.facebook.com/androidwedakarayo/" target="_blank" style="color: #f5f5f5;">
                        <i class="fab fa-facebook fa-lg"></i>
                    </a>
                    <a href="https://twitter.com/androidwdlka" target="_blank" style="color: #f5f5f5;">
                        <i class="fab fa-twitter fa-lg"></i>
                    </a>
                    <a href="https://www.instagram.com/androidwedakarayo/" target="_blank" style="color: #f5f5f5;">
                        <i class="fab fa-instagram fa-lg"></i>
                    </a>
                    <a href="https://www.youtube.com/channel/UCBYFBHWwOwXZlgRvwtmc1qw" target="_blank"
                        style="color: #f5f5f5;">
                        <i class="fab fa-youtube fa-lg"></i>
                    </a>
                    <a href="https://podcasts.apple.com/us/podcast/android-%e0%b7%80-%e0%b6%a9%e0%b6%9a-%e0%b6%bb%e0%b6%ba/id1512647468"
                        style="color: #f5f5f5;">
                        <i class="fas fa-podcast fa-lg"></i>
                    </a>
                    <a href="https://open.spotify.com/show/3mLVk0itdRn2yZ3FFFmyok" style="color: #f5f5f5;">
                        <i class="fab fa-spotify fa-lg"></i>
                    </a>
                    <a href="https://github.com/androidwedakarayo" target="_blank" style="color: #f5f5f5;">
                        <i class="fab fa-github fa-lg"></i>
                    </a>
                    <a href="https://play.google.com/store/apps/details?id=com.gavnyx.androidwedakarayo" target="_blank"
                        style="color: #f5f5f5;">
                        <i class="fab fa-google-play fa-lg"></i>
                    </a>
                    <a href="" target="_blank" style="color: #f5f5f5;">
                        <i class="fab fa-app-store fa-lg"></i>
                    </a>
                    <a href="https://androidwedakarayo.com/rss" target="_blank" style="color: #f5f5f5;">
                        <i class="fas fa-rss fa-lg"></i>
                    </a>
                </div>
                <div class="copyright">
                    <p>Copyright © 2020 Android වැඩකාරයෝ by Android Wedakarayo (Private) Limited. All Rights Reserved.
                    </p>
                </div>
            </div>
            <div class="rightSection">
                <div class="links">
                    <div class="linkSection">
                        <div><a target="blank" href="/about-us/" style="margin: 0 15px 5px;">About Us</a></div>
                        <div><a target="blank" href="mailto:contact@androidwedakarayo.com" style="margin: 0 15px 5px;">Contact Us</a></div>
                        <div><a target="blank" href="/writers/" style="margin: 0 15px 5px;">Meet the team</a></div>
                        <div><a target="blank" href="/categories/" style="margin: 0 15px 5px;">Categories</a></div>
                    </div>
                    <div class="linkSection">
                        <div><a href="/advertising/" style="margin: 0 15px 5px;">Advertising</a></div>
                        <div><a target="blank" href="/podcast/" style="margin: 0 15px 5px;">Podcast</a></div>
                        <div><a target="blank" href="/privacy-policy/" style="margin: 0 15px 5px;">Privacy Policy</a></div>
                        <div><a target="blank" href="/terms/" style="margin: 0 15px 5px;">Terms</a></div>
                    </div>
                </div>
                <div class="contact">
                    {{#if @labs.members}}
                    <h5 style="margin-bottom: 5px;text-rendering: optimizeLegibility;">Sign up for our newsletter!</h5>
                    <p style="margin: 0 0 1.5em;">Join our mailing list and get the latest updates</p>

                    <a class="subscribe-button" href="#subscribe">Subscribe</a>
                    <br />
                    {{/if}}
                    <h5 style="margin-bottom: 5px;text-rendering: optimizeLegibility;">Email us for general inquiries and copyright information</h5>
                    <a href="mailto:contact@androidwedakarayo.com" target="_top" style="margin-bottom: 15px;text-rendering: optimizeLegibility;">contact@androidwedakarayo.com</a>
                    <p></p>
                    <a href="//www.dmca.com/Protection/Status.aspx?ID=63e61e66-6871-4473-9b20-f76237385cf4"
                        title="DMCA.com Protection Status" class="dmca-badge" style="margin-bottom: 15px;text-rendering: optimizeLegibility;"> <img
                            src="https://images.dmca.com/Badges/_dmca_premi_badge_5.png?ID=63e61e66-6871-4473-9b20-f76237385cf4"
                            alt="DMCA.com Protection Status" /></a>
                    <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
                    <p></p>
                    <p>Made with
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" style="width:16px;overflow:visible">
                            <path class="breathing"
                                d="M24.85 10.126c2.018-4.783 6.628-8.125 11.99-8.125 7.223 0 12.425 6.179 13.079 13.543 0 0 .353 1.828-.424 5.119-1.058 4.482-3.545 8.464-6.898 11.503L24.85 48 7.402 32.165c-3.353-3.038-5.84-7.021-6.898-11.503-.777-3.291-.424-5.119-.424-5.119C.734 8.179 5.936 2 13.159 2c5.363 0 9.673 3.343 11.691 8.126z"
                                fill="#d75a4a"></path>
                        </svg>

                        in Sri Lanka
                    </p>
                    <br/>
                    <p></p>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</footer>