<div style="padding-bottom: 20px;"></div>
<div class="outer-search category-container">
    <div class="inner">
        <div class="category-holder">
            <ul class="nav category-nav pull-left">
                <li class="nav-tag"><a href="/tag/technology/" title="Technology">Technology</a></li>
                <li class="nav-tag"><a href="/tag/mobile/" title="Mobile">Mobile</a></li>
                <li class="nav-tag"><a href="/tag/google/" title="Google">Google</a></li>
                <li class="nav-tag"><a href="/tag/apps-tag/" title="Apps">Apps</a></li>
                <li class="nav-tag"><a href="/tag/security/" title="Security">Security</a></li>
                <li class="nav-tag"><a href="/tag/social-media/" title="Social Media">Social Media</a></li>
                <li>
                    <a href="/category-collection">
                        <span style="margin-left:0.5rem;">More...</span>
                    </a>
                </li>
            </ul>
            <a class="search-btn no-decoration pull-right" href="#ghosteasybar">
                <span style="color: white;">
                <i class="fas fa-search"></i> 
                </span>
                </a>
            <a class="category-search no-decoration category-xs" href="/category-collection">
                <span style="margin-left:0.5rem;">Categories</span>
            </a>
        </div>
    </div>
</div>


