* {
    padding: 0;
    margin: 0 0;
    color: #333333;
    box-sizing: border-box;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
  
a {
    text-decoration: none;
}
  
body {
    background-color: #f3f3f3;
}

/**
* Container
*/
.container {
    margin: auto;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1000px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 980px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 100%;
    }
}

/**
*   Cover Container
*/
.section-hero {
    background-position: center;
    background-size: cover;
    background-image: url('../images/podcast/cover.jpg');
    margin-bottom: 4rem;
}

.section--cover {
    text-align:center;
    padding: 4rem 0;
}

@media (min-width: 768px) {
    .section--cover {
        display: flex; 
        -webkit-box-align: center;
        align-items: center;
        text-align:left;
    }
}

@media (min-width: 768px) {
    .section--cover .cover-art {
        margin-right: 3rem;
    }
}

.section--cover .cover-art img { 
    width: 180px;
    border-radius: .5rem;
}

@media (min-width: 768px) {
    .section--cover .cover-art img { 
        width: 220px
    }
}

.cover-content {

}

.cover-content h1 {
    font-size: 2rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

.cover-content p {
    font-size: 1rem;
    color: rgb(255, 255, 255);
}

.cover-content p strong {
    display: block;
    font-weight: 400;
    color: rgb(53, 203, 103);
    margin-bottom: 1.5rem;
}

.cover-content p a {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(53, 203, 103);
    padding: 0.5rem 1rem;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(53, 203, 103);
    border-image: initial;
    border-radius: 5rem;
}


.cover-content p a img {
    margin-left: 1rem;
}


.section-episode {
    padding: 0 1rem;
}
.section-episode .episode--list {

}


.section-episode .episode--list__player {
    border-bottom: 1px solid #e6e6e6;
}

.player {
    padding-bottom: 2rem;
    text-align: center;
}

.player audio {
    outline: none;
}

.section-episode .episode--list__item {
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    display: flex; 
    flex-wrap: wrap;
}

@media (min-width: 768px) {
    .section-episode .episode--list__item {
        flex-wrap: nowrap;
    }
}

.section-episode .episode--list__item .episode--image {
    width: 16.666667%;
}
@media (min-width: 768px) {
    .section-episode .episode--list__item .episode--image {
        width: 8rem;
    }
}
.episode--image .image-inner {
    overflow: hidden;
    border-radius: .5rem;
    width : 100%;
    padding-bottom: 100%;
    position: relative;
}
.episode--image .image-inner img {
    width : 100%;
    height: 100%;
    position: absolute;
}

.section-episode .episode--list__item .episode--content {
    padding: 0 0 0 1rem; 
    width: 83.333333%;
}
@media (min-width: 768px) {
    .section-episode .episode--list__item .episode--content {
        width: 100%;
        padding: 0 3rem; 
    }
}
.episode--content h5 {
    font-size: 1.125rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
.episode--content .content {
    color: #ababab;
    word-break: break-word;
    font-size: 0.85rem;
}
.episode--content p {
    font-size: 0.85rem;
    color: #ababab;
}
.episode--content p strong {
    font-weight: 400;
    color: inherit;
}
.episode--content p a {
    color: #35cb67;
}
.episode--content p a:hover{
    color: #35cb67;
}
.episode--content a {
    color: #35cb67;
}
.episode--content a:hover{
    color: #35cb67;
}

.section-episode .episode--list__item .episode--link {
    width: 100%;
    margin-top: 1.5rem;
    display: flex;
    justify-content:center;
}

@media (min-width: 768px) {
    .section-episode .episode--list__item .episode--link {
        width: 16rem;
        align-items: center;
        margin-top: 0;
    }
}


.section-episode .episode--list__item .episode--link .btn {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.4rem;
    padding-bottom: 0.5rem;
    background-color: rgb(53, 203, 103);
    font-size: 0.85rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 9999px;
    text-decoration: none;
}

.btn svg {
    width: 16px;
    fill: #fff;
    margin-right: 0.5rem;
}
.btn span {
    color: #fff;
}

.footer-section {
    padding: 4rem 0;
    text-align: center;
}

.footer-section p {
    font-size: 0.875rem;   
    color: #ababab;
}

.loading {
    text-align: center;
    color: #ababab;
}